
.agentWrapper{
   text-decoration: none;
   -moz-box-shadow: 5px 6px 5px var(--color-action-shadow);
   -webkit-box-shadow: 5px 6px 5px var(--color-action-shadow);
   box-shadow: 5px 6px 5px var(--color-action-shadow);
   padding: .5rem;
   border-radius: 8px;
   height: 40%;
   width: 25%;
   margin: 2rem 0;
   transition: all 200ms ease-out;
}

.agent{
   height: 100%;
   width: 100%;
   padding: .5rem;
   border-radius: 10px;
   backdrop-filter:blur(10px);
}

.agent-top{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-left: 2rem;
}
.role {
   transform: rotate(90deg);
   transform-origin: left top;
   top: 6rem;
   left: calc(100% + 3rem);
   white-space: nowrap;
   color: var(--color-action-contrast);
   font-size: 2.5rem;
   font-family: var(--font-big);
   position: absolute;
   letter-spacing: 1px;
   background-color: var(--color-background);
}
.agent-name{
   font-family: var(--font-big);
   font-weight: 900;
   font-size: 1.5rem;
   width: fit-content;
}
.agent-picture{
   height:20rem;
   width:14rem;
   object-fit: cover;
   backdrop-filter: blur(5px);
}

.agent-picture::before{
   background-image: linear-gradient(to top right, #1a1a1a, var(--color-action), transparent);
   content:'';
   height: 100%;
   position: absolute;
   width: 100%;
   z-index: -1;
}

.agentWrapper:hover{
   transform: scale(1.15);   
   background-color: black;
   -moz-box-shadow: 5px 6px 5px var(--color-action-shadow);
   -webkit-box-shadow: 5px 6px 5px var(--color-action-shadow);
   box-shadow: 4px 4px 5px 4px var(--color-action-shadow);

}