.agentsList {
    background-color: var(--color-background);
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
}

