.agentsList {
    background-color: var(--color-background);
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    margin-top: 1rem;
}




@media only screen and (max-width: 450px) {
    .agentsList{
        flex-direction: column;
    }
}
